# Main bot token
DISCORD_TOKEN=your_bot_token

# Bot client id
CLIENT_ID=your_bot_id

# Nvidia token (for ai) https://build.nvidia.com/
NVIDIA_TOKEN=your_ai_token

# Tavily token for AI web search https://tavily.com/
TAVILY_TOKEN=tavily_token

# API server port for web client
SERVER_PORT=3000

# Discord ids for Developers (separated by comma) to access dev commands
DEVELOPERS_IDS=123456789123456,123456789123456,...
