# Main bot token
DISCORD_TOKEN=your_bot_token

# Bot client id
CLIENT_ID=your_bot_id

# Nvidia NIM token (for ai) https://build.nvidia.com/
NVIDIA_TOKEN=your_ai_token

# Tavily token for AI web search https://tavily.com/
TAVILY_TOKEN=tavily_token

# API server port for web client
SERVER_PORT=3000
